<% @users.each do |user| %>
  <div class="user col-8 justify-content-md-center">
    <div class="card text-center mb-4 shadow-sm">
      <div class="card-header">
        by <%= user.username %>
      </div>
      <div class="card-body">
        <%= link_to gravatar_for(user, size: 128), user_path(user) %>
        <h5 class="card-title"><%= link_to user.username, user_path(user) %></h5>
        <p class="card-text"><%= pluralize(user.articles.count, "articles") %></p>
        <%= link_to 'Show Profile', user_path(user), class: "btn btn-outline-primary btn-sm" %>
        <% if logged_in? %>
          <% if user == current_user %>
            <%= link_to 'Edit User', edit_user_path(user), class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
          <% if current_user.admin? %>
            <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user and all associated articles?" }, class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <small class="m-0">Joined: <%= time_ago_in_words(user.created_at) %> ago</small>
      </div>
    </div>
  </div>
<% end %>